.body{
    background:linear-gradient(90deg,#03827b,#c45a21);
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

.heading{
    color: #ffffff;
    text-align: center;
}

.tools-block{
  text-align: center;
}
